.wrapper{
  background-color: grey;
}

.col_1{
  width:100px;
  background-color:green;
  float:left;
  display: inline-block;
  text-align: center;
}

.col_2{
  max-width:100px;
  background-color:whitesmoke;
  float: left;
  display: inline-block;
  text-align: center;
}

.col_3{
  width: 100px;
  background-color:green;
  float:left;
  display: inline-block;
  text-align: center;
}

