.wrapper{
  
  background-color:whitesmoke;
  width: 250px;
  height:200px;
  margin:60px 50px 200px 200px:
  box-shadow:0px 0px 30px 30px ;
}

.username_div{
  padding-top: 10px;
  padding-left: 30px;
}
.password_div{
  padding:10px;
  padding-left: 30px;
}
h2{
  color: black;
  text-align:center;
  padding: 5px;
  font-family:arial, helvetica, serif;
}
input{
  width:100px;
  height:10px;
  text-align:center;
  border:1px groove white;
}
.submit{
  padding-top:10px;
  padding-left:20px;
}
input[type="submit"]{
  width:100px;
  background-color:skyblue;
  opacity:0.5;
  border:none;
  color:white;
}
input:focus{
  outline:none;
}
.login { 
  background-color: skyblue;
  width: 100px;
}
h5 {
  float: right
}